.fundo {
	background-image: url(../../../../images/area-administrativa/login/bg-login.png); 
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh; 
	margin:0px;
	padding:0px;
	position: relative;
}



.btn_entrar {
	width: 100%;
	margin-top: 40px;
	border-radius: 5px !important;
	background-image: linear-gradient(to left, #38A392, #137E7F);
}

.form_tam {
	margin-top: 100px;
	width: 75%;
}

.card_login {
	margin-top: 20% !important;
}


.txt_titulo {
	color: white;
	position: absolute;
	line-height: 1.7em;
	padding: 40px;
	font-size: 36px;
	font-weight: 600;
	margin: 0;
	margin-left: 100px;
	margin-top: 290px;
}


.txt_subtitulo {
	color: white;
	position: absolute;
	line-height: 1.7em;
	padding: 40px;
	font-size: 22px;
	margin: 0;
	margin-left: 100px;
	margin-top: 350px;
}

.recover_senha  {
	color: #acacac;
	top: 35px !important;
	position: relative;


}